<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../css/offer.css">
  <link rel="stylesheet" type="text/css" href="../css/base(1).css">
  <link rel="stylesheet" type="text/css" href="../css/weixin.css">
  <link rel="stylesheet" type="text/css" href="../css/huabei.css">

	<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
</head>
<body>
<!-- 头部 -->
  <header>
    <div class="header">
      <ul class="clearfix">
        <li class="fl"><a href="javascript:;">票牛首页</a></li>
        <li class="fr fr1" id="frf">
          <a href="javascript:;">手机票牛</a>
          <a href="javascript:;" id="frz"><img src="../img/app.jpg"></a>
        </li>
        <li class="fr fr2" id="dwf">
          <p class="clearfix" >
            <a href="javascript:;" class="fl username">用户***************</a>
          <span class="fl">,您好</span>
          </p>  
          <ul class="dw" id="dwz" >
            <li>
              <a href="javascript:;" style="color: red;">用户******</a>
              <span>,您好</span>
            </li>
            <li><a href="">我的订单</a></li>
            <li><a href="">我的钱包</a></li>
            <li><a href="">账户设置</a></li>
            <li><a href="">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
  <!-- /头部 -->
<div  id="ee" style="display:none;width:100%;height: 100%;position: fixed;left: 0;top: 0;background:rgba(0,0,0,0.4);z-index: 2; ">
     <div class="wb" id="wb">
        <div class="zf">
             <p class="sale">微信支付</p>
             <p class="sale1">请使用微信支付扫一扫,扫码支付</p>
             <img src="../img/5-16png.jpg">
             <p class="time">二维码有效时长为2小时,请尽快支付</p>  
        </div>
       <div class="cc" id="cc" >
           <img src="../img/5-17png.jpg">
 
      </div>


    </div>

</div>


  <div id="gg" style="display:none;width:100%;height: 100%;position: fixed;left: 0;top: 0;background:rgba(0,0,0,0.4);z-index: 3; ">

       <div class="qq" id="dd">
       <div class="cb">
             <p class="fq">选择花呗分期</p>
           <div class="cw" id="cc1">
             <img src="../img/5-17png.jpg">
          </div> 
       </div>
      <div class="sx">
        <div class="xf">
              <input type="radio" name="radio"  value="0" checked=""  id="xfcheck1" / ><span class="cv">￥18.41x3期</span> <i>手续费￥0.41/每期</i><label for="radio" > </label>
        </div>
        <div class="xf">
              <input type="radio" name="radio" value="0" checked=""  id="xfcheck2" / ><span class="cv">￥9.40x6期</span> <i>手续费￥0.40/每期</i><label for="radio" > </label>
        </div>

         <div class="xf">
              <input type="radio" name="radio"  value="0" checked=""  id="xfcheck3" / ><span class="cv">￥4.86x12期 </span><i>手续费￥0.36/每期</i><label for="radio" > </label>
        </div>

      </div>   
     <div class="lj" id="lj">
         <a href="">立即支付</a>
     </div>
      

    </div>





  </div>   






    <div class="header">

        <div class="clearfix nav">
       <h1 class="fl"><a href="javascript:;">票牛网</a></h1>
      <div class="fl">
      <ul class="clearfix">
        <li class="fl">1.选择商品</li>
        <li class="fl change1">
          <img src="../img/5-b10(1).png" class="im1">
          2.确认订单信息
          <img src="../img/5-b9(1).png" class="im2">
          </li>
        <li class="fl change2">3.支付订单
          <img src="../img/5-b11(1).png" class="im3">
        </li>
        <li class="fl">4.成功</li>
      </ul>
    </div>
  </div>

       
        <div class="header2">
           <p>订单提交成功,请尽快付款。 <span>订单号:18595753 应付:</span> <i>￥1360.00</i></p>
        </div>  

        <div  id="header3">
          <p>请在15分钟内完成付款,否则就将别的票友抢走了喔!</p>
          <span class="djs"></span>
        </div>
        <div class="header4">
         <p>商品信息: <i>开心麻花爆笑贺岁演出《牢友记》 第6轮</i></p>
         <p class="hz">配送方式:电子票</p>
         <p class="ha">个人信息:1213,18434753705</p>
        </div>
       <div class="header5"> 
        <span>支付方式</span>
       </div>    

       <!-- 支付的方式 -->
       <div class="header6">
           <!-- 微信 -->
           <div class="wx">
              <input  type="radio" name="radio" value="0" id="aa" class="zz" checked=""> <label for="radio"> </label>
 
          </div>
         <!-- 银行 -->
          <div class="yh">
              <input type="radio" name="radio"  value="0" checked=""  id="c" /> <label for="radio">  </label>
             
          </div>
         <!-- 花呗 -->
          <div class="hb">
              <input type="radio" name="radio" value="0" id="bb" checked="" /> <label for="radio">  </label>
             
          </div>
           <div class="fk">
			   <a href="javascript:;" target="self" id="btn">去支付</a> 		
		   </div>
     </div>
<!--     <div class="header7">
      <ul class="header7-1">
          <li class="box">
            <img src="../img/5-4png.png">
              <div class="box1">
                  <span class="pf">无票赔付</span>
                  <p class="wp">无票赔付,最高退一赔二</p>
       
             </div>
            
         </li>

           <li class="box2">
            <img src="../img/5-5png.png">
              <div class="box-1">
                  <span class="pf">出票保真</span>
                  <p class="wp">全程消费保障,买得放心</p>
       
             </div>
            
         </li>


           <li class="box3">
            <img src="../img/5-6png.png">
              <div class="box-2">
                  <span class="pf">配送保障</span>
                  <p class="wp">多种取票方式 安全送达</p>
       
             </div>
            
         </li>

      </ul>


    </div> -->





   </div>


    <!-- <div class="wb" id="wb">
        <div class="zf">
             <p class="sale">微信支付</p>
             <p class="sale1">请使用微信支付扫一扫,扫码支付</p>
             <img src="../img/5-16png.jpg">
             <p class="time">二维码有效时长为2小时,请尽快支付</p>  
        </div>
       <div class="cc" id="cc" >
           <img src="../img/5-17png.jpg">
 
      </div>


    </div>
 -->

<footer>
  <div class="content">
    <div class="container">
      <a href="javascript:;" rel="nofollow" class="item">
        <img src="../img/icon-diamond.3524e325.png" class="icon">
        <div class="text">
          <div class="title">无票赔付</div>
          <div class="desc">无票赔付，最高退一赔二</div>
        </div>
      </a>
      <a href="javascript:;" rel="nofollow" class="item">
        <img src="../img/icon-shield.ff071a4b.png" class="icon"><div class="text"><div class="title">出票保真</div>
        <div class="desc">全程消费保障，买得放心</div>
      </div>
      </a>
      <a href="javascript:;" rel="nofollow" class="item">
        <img src="../img/icon-umbrella.ed43b4ea.png" class="icon">
        <div class="text">
          <div class="title">配送保障</div>
          <div class="desc">多种取票方式 安全送达</div>
        </div>
      </a>
    </div>
  </div>

</footer>
<div  class="footer">
  <div class="content">
    <div class="container">
      <div class="links-and-brand">
        <img src="https://static.piaoniu.com/pc/ui/img/footer-logo.1a1486d7.png" class="footer-logo">

        <div class="helps">
          <div class="buyDesc help">
            <div class="title">订票说明</div>
            <div class="item">
              <a href="/questions?question=订购渠道&amp;questionGroup=订购说明" rel="nofollow">订购渠道</a>
            </div>
            <div class="item">
              <a href="/questions?question=演出状态&amp;questionGroup=订购说明" rel="nofollow">演出状态</a>
            </div>
            <div class="item">
              <a href="/questions?question=如何订购&amp;questionGroup=订购说明" rel="nofollow">如何订购</a>
            </div>
            <div class="item">
              <a href="/questions?question=价格说明&amp;questionGroup=订购说明" rel="nofollow">价格说明</a>
            </div>
            <div class="item">
              <a href="/questions?question=关于座位&amp;questionGroup=订购说明" rel="nofollow">关于座位</a>
            </div>
          </div>
          <div class="payType help">
            <div class="title">支付方式</div>
            <div class="item">
              <a href="/questions?question=在线支付&amp;questionGroup=支付方式" rel="nofollow">在线支付</a>
            </div>
            <div class="item">
              <a href="/questions?question=花呗&amp;questionGroup=支付方式" rel="nofollow">花呗</a>
            </div>
            <div class="item">
              <a href="/questions?question=银行卡支付&amp;questionGroup=支付方式" rel="nofollow">银行卡支付</a>
            </div>
          </div>
          <div class="deliverType help">
            <div class="title">配送方式</div>
            <div class="item">
              <a href="/questions?question=上门自取&amp;questionGroup=配送方式" rel="nofollow">上门自取</a>
            </div>
            <div class="item">
              <a href="/questions?question=现场自取&amp;questionGroup=配送方式" rel="nofollow">现场自取</a>
            </div>
            <div class="item">
              <a href="/questions?question=顺丰配送&amp;questionGroup=配送方式" rel="nofollow">顺丰配送</a>
            </div>
            <div class="item">
              <a href="/questions?question=电子票&amp;questionGroup=配送方式" rel="nofollow">电子票</a>
            </div>
          </div>
          <div class="afterSaleService help">
            <div class="title">售后服务</div>
            <div class="item">
              <a href="/questions?question=退换票说明&amp;questionGroup=售后服务" rel="nofollow">退换票说明</a>
            </div>
            <div class="item">
              <a href="/questions?question=退款说明&amp;questionGroup=售后服务" rel="nofollow">退款说明</a>
            </div>
            <div class="item">
              <a href="/questions?question=退款条件&amp;questionGroup=售后服务" rel="nofollow">退款条件</a>
            </div>
          </div>
          <div class="featureService help">
            <div class="title">特色服务</div>
            <div class="item">
              <a href="/services" rel="nofollow">无票赔付</a>
            </div>
            <div class="item">
              <a href="/services" rel="nofollow">下单一小时可退款</a>
            </div>
            <div class="item">
              <a href="/services" rel="nofollow">保证真票</a>
            </div>
            <div class="item">
              <a href="/services" rel="nofollow">配送保障</a>
            </div>
          </div>
        </div>
        <div class="qr-codes">
          <div class="item">
            <img src="https://static.piaoniu.com/pc/img/qr-app.a2c8e636.png" class="img">
            <div class="text">票牛app</div>
          </div>
        </div>

      </div>
    </div>





  </div>





</div>
<div class="footer1">
  <div class="content">
      <div class="links">
          <a href="/about" rel="nofollow">关于我们</a>
          <a href="/contact" rel="nofollow">联系我们</a>
          <a href="http://piaoniu.zhiye.com/" rel="nofollow">加入我们</a>
          <a href="/actor" rel="nofollow">艺人</a>
          <a href="/city/all" rel="nofollow">全部城市</a>
          <a href="http://news.piaoniu.com/" rel="nofollow">票牛资讯</a>
          <a href="https://m.piaoniu.com/about/privacy-policy.html" rel="nofollow">隐私政策</a>
          <a href="/disputeResolution" rel="nofollow">争议调解</a>
          <a href="javascirpt:;" class="hot-find">热门搜索</a>
      </div> 
      <div class="hot-search">
          
      
        <a href="//www.piaoniu.com/stag/32048">BIGBANG郑州演唱会</a>
        <a href="//www.piaoniu.com/stag/48745">刘若英兰州演唱会行程</a>
        <a href="//www.piaoniu.com/stag/56052">魏如萱海口演唱会行程</a>
        <a href="//www.piaoniu.com/stag/56286">Teen Top梧州演唱会行程</a>
        <a href="//www.piaoniu.com/stag/62199">Ben UFO贵阳演唱会行程</a>
        <a href="//www.piaoniu.com/stag/62472">Mr. Graceless长春演唱会行程</a>
        <a href="//www.piaoniu.com/stag/67415">刘思涵太原演唱会行程</a>
        <a href="//www.piaoniu.com/stag/75673">叶丽仪绍兴演唱会行程</a>
        <a href="//www.piaoniu.com/stag/86996">方季惟南宁演唱会安排</a>
      <!--  <a href="//www.piaoniu.com/stag/112643">吕方温州演唱会安排</a> -->
              
      </div>
      <div class="w-conduct">
        上海颂品网络科技有限公司 Copyright (c) 2015年 Songpin. All rights reserved. | 沪ICP备14000399号-2
      </div>
      <div class="police-icons">
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010602001682" target="_blank" rel="nofollow" class="link link-police">
          <img src="https://static.piaoniu.com/pc/img/police.dfd1a0f7.png" class="icon">
          <div class="text">沪公网安备 31010602001682号</div>
        </a>
        <a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=2016050618242638" target="_blank" rel="nofollow" class="link link-gongshang">
          <img src="https://static.piaoniu.com/pc/img/gongshang.5c149d3e.png" class="icon">
          <div class="text">上海工商</div>
        </a>
      </div>
        
    </div>
</div>	
<script type="text/javascript">
  var oHeader3=document.getElementById('header3')
	var oSpan = oHeader3.getElementsByTagName('span')[0];
  var oCC=document.getElementById('cc')
  var oCC1=document.getElementById('cc1')
  var oWb=document.getElementById('wb')
  var oImg=oCC.getElementsByTagName('img')[0]
  var oImg1=oCC1.getElementsByTagName('img')[0]
  var oBtn=document.getElementById('btn')
  var oBd=document.getElementById('bd')
  var oEe=document.getElementById('ee')
  var oAa=document.getElementById('aa')
  var oBb=document.getElementById('bb')
  var oDd=document.getElementById('dd')
  var oGg=document.getElementById('gg')
  var oCc=document.getElementById('c')
    var och1 = document.getElementById('xfcheck1')
    var och2 = document.getElementById('xfcheck2')
    var och3 = document.getElementById('xfcheck3')
		//获取时间戳
	// alert(oDate.getTime());

	// alert(oDate1.getTime());
	var X = 900
	function show(){
		var m=parseInt(X/60);
		s=X%60;
		oSpan.innerHTML = '剩余支付时间还有'+00+'时'+ '<span>'+m+'</span>'+'分'+'<span>'+s+'</span>'+'秒';
    X--
	}
	show();
	setInterval(show,1000)

  




 
 // if(oAa.checked=="checked"){
 //     oBtn.onclick=function(){
 //      oEe.style.display='block'
 // }
    
 

 oImg.onclick=function(){
      oEe.style.display='none'
 }
 




 oBtn.onclick=function(){
if(oBb.checked ==true){
    oBb.value=1;
 } else{
  oBb.value=0;
 }
 if (oAa.checked==true) {
   oAa.value = 1;
 }else{
  oAa.value = 0;
 }
 if (oCc.checked==true) {
   oCc.value = 1;
 }else{
   oCc.value = 0;
 }
    if (oAa.value == 1) {
      oEe.style.display='block'
    }
      
    if (oBb.value == 1) {
       oGg.style.display='block'
    }
    if (oCc.value == 1) {
       window.location.href = "pay.html"
    }
     
 }

 
 

 oImg1.onclick=function(){
      oGg.style.display='none'
 }
 // }
var oLj = document.getElementById('lj')
oLj.onclick = function(){
  if(och1.checked ==true){
    och1.value=1;
 } else{
  och1.value=0;
 }
 if (och2.checked==true) {
   och2.value = 1;
 }else{
  och2.value = 0;
 }
 if (och3.checked==true) {
  och3.value = 1;
 }else{
   och3.value = 0;
 }
  if (och1.value==1) {
    window.location.href = "pay.html"
  }
    if (och2.value==1) {
    window.location.href = "pay.html"
  }
    if (och3.value==1) {
    window.location.href = "pay.html"
  }
}

 // 头部
  var oBox = document.getElementById('dwf');
  var oBox1 = document.getElementById('dwz');
  var oBox2 = document.getElementById('frf');
  var oBox3 = document.getElementById('frz');
  oBox.onmouseover = function(){
    oBox1.style.display = 'block';
  }
   oBox.onmouseout = function(){
    oBox1.style.display = 'none';
  }
  oBox2.onmouseover = function(){
    oBox3.style.display = 'block';
  }
   oBox2.onmouseout = function(){
    oBox3.style.display = 'none';
  }


//尾部
$('.hot-find').mouseenter(function(){
 $('.hot-search').css({'display':'block'})
})
$('.hot-find').mouseleave(function(){
 $('.hot-search').css({'display':'none'})
})
$('.hot-search').mouseenter(function(){
 $('.hot-search').css({'display':'block'})
})
$('.hot-search').mouseleave(function(){
 $('.hot-search').css({'display':'none'})
})



	</script>

</body>
</html>