<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{../css/pypl2.css}">
	
	<link rel="stylesheet" type="text/css" th:href="@{../css/base1.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../css/city.css}">
</head>
<body>
<!-- 头部 -->
    <nav class="clearfix">
        <div class="nav">
            <a class="logo fl" href="index.html">
                <img th:src="@{../img/1-logo-white.3de707b4.png}" alt="">
            </a>
            <div class="city-name fl" style="color:#fff;margin-left:20px;font-size:14px;width: 50px;background:  url(../img/1-arr-down.9f1dbfdd.png) no-repeat right center;">上海</div>
            <ul class="lei fl">
                <li class="fl"><a href="javascript:;" style="font-size:16px;">首页</a></li>
                <li class="ashow fl"><a href="javascript:;" style="font-size:16px;">全部演出</a>
                    <div class="submenu">
                        <ul class="allshow">    
                            <li>
                                <a href="javascript:;">演唱会</a>
                            </li>
                            <li>
                                <a href="javascript:;">话剧歌剧</a>
                            </li>
                            <li>
                                <a href="javascript:;">休闲展览</a>
                            </li>
                            <li>
                                <a href="javascript:;">体育赛事</a>
                            </li>
                            <li>
                                <a href="javascript:;">音乐会</a>
                            </li>
                            <li>
                                <a href="javascript:;">儿童亲子</a>
                            </li>
                            <li>
                                <a href="javascript:;">舞蹈芭蕾</a>
                            </li>
                            <li>
                                <a href="javascript:;">戏曲综艺</a>
                            </li>
                        </ul>
                    </div>
                    
                </li>
                <li class="fl"><a href="javascript:;" style="font-size:16px;">发现</a></li>
                <li class="fl"><a href="./shifen.html" style="font-size:16px;">十分现场</a></li>
            </ul>
            <div class="search fl">
                <input class="fl" type="text" placeholder="搜索演出、明星、场馆">
                <img src="../img/1-icon-search.c1ea7e12.png" alt="搜索">
            </div>
            <div class="right fr">
                <a class="fl" href="javascript:;">登录</a>
                <span>|</span>
                <div class="app fr">手机票牛
                    <div class="submenu1">
                        <ul class="appshow">
                            <li class="clearfix">
                                <img  class="img1 fl" src="../img/1-qr-app.a2c8e636.png" width="84px" >
                                <div class="text fr"> 
                                    <div class="title">票牛APP</div>
                                    <div class="desc">热门票随时抢<br>折扣票随时买</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="img2 fl"><img src="../img/1-qr-wechat.eceb0fc5.png"  height="84px"></div>
                                
                                <div class="text fr">
                                    <p class="title">微信订阅号</p>
                                    <p class="desc">精彩剧评最新<br>活动随时看</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- 上海 -->
    <div>
    <!-- <div class="city-name">上海</div> -->
        <div class="citylist">
              <div class="top-rows">
                <div class="row">
                  <div class="title">当前城市：</div>
                      <ul>
                        <li class="selected" data-name="shanghai">上海</li>
                      </ul>
                </div>
                <div class="row">
                  <div class="title">热门城市：</div>
                  <ul class="asdf">
                    <li class="city-item" data-name="shanghai">上海</li>
                    <li class="city-item" data-name="beijing">北京</li>
                    <li class="city-item" data-name="guangzhou">广州</li>
                    <li class="city-item" data-name="shenzhen">深圳</li>
                    <li class="city-item" data-name="chengdu">成都</li>
                    <li class="city-item" data-name="chongqing">重庆</li>
                    <li class="city-item" data-name="tianjin">天津</li>
                    <li class="city-item" data-name="hangzhou">杭州</li>
                    <li class="city-item" data-name="nanjing">南京</li>
                    <li class="city-item" data-name="wuhan">武汉</li>
                    <li class="city-item" data-name="xian">西安</li>
                    <li class="city-item" data-name="changsha">长沙</li>
                    <li class="city-item" data-name="kunming">昆明</li>
                  </ul>
                </div>
              </div>
              <div class="city-indexes">
                <div class="title">按字母查找</div>
                <ul class="hot-city-capitcals">
                  <li class="cap" id="a">A</li><li class="cap" id="b">B</li><li class="cap" id="c">C</li><li class="cap" id="d">D</li><li class="cap" id="f">F</li><li class="cap" id="g">G</li><li class="cap" id="h">H</li><li class="cap" id="j">J</li><li class="cap" id="k">K</li><li class="cap" id="l">L</li><li class="cap" id="m">M</li><li class="cap" id="n">N</li><li class="cap" id="p">P</li><li class="cap" id="q">Q</li><li class="cap" id="r">R</li><li class="cap" id="s">S</li><li class="cap" id="t">T</li><li class="cap" id="w">W</li><li class="cap" id="x">X</li><li class="cap" id="y">Y</li><li class="cap" id="z">Z</li>
                </ul>
              </div>
              <div class="hot-cities">
                <ul>
                  <li data-capital="A" id="A">
                      <div class="capital">A</div>
                      <ul class="items">
                        <div class="item city-item" data-name="anshun">安顺</div><div class="item city-item" data-name="macau">澳门</div>
                      </ul>
                 </li>
                 <li data-capital="B" id="B">
                      <div class="capital">B</div>
                      <ul class="items">
                        <div class="item city-item" data-name="bangkok">曼谷</div><div class="item city-item" data-name="baoding">保定</div><div class="item city-item" data-name="baotou">包头</div><div class="item city-item" data-name="beihai">北海</div><div class="item city-item" data-name="beijing">北京</div><div class="item city-item" data-name="bengbu">蚌埠</div><div class="item city-item" data-name="benxi">本溪</div><div class="item city-item" data-name="binzhou">滨州</div>
                      </ul>
                </li>
                <li data-capital="C" id="C">
                      <div class="capital">C</div>
                      <ul class="items">
                        <div class="item city-item" data-name="changchun">长春</div><div class="item city-item" data-name="changsha">长沙</div><div class="item city-item" data-name="changshu">常熟</div><div class="item city-item" data-name="changzhou">常州</div><div class="item city-item" data-name="chengde">承德</div><div class="item city-item" data-name="chengdu">成都</div><div class="item city-item" data-name="chongqing">重庆</div>
                      </ul>
                </li>
                <li data-capital="D" id="D"> 
                      <div class="capital">D</div>
                      <ul class="items">
                        <div class="item city-item" data-name="dalian">大连</div><div class="item city-item" data-name="daqing">大庆</div><div class="item city-item" data-name="deyang">德阳</div><div class="item city-item" data-name="dezhou">德州</div><div class="item city-item" data-name="dongguan">东莞</div><div class="item city-item" data-name="dongying">东营</div>
                      </ul>
                </li>
                <li data-capital="F" id="F">
                      <div class="capital">F</div>
                      <ul class="items">
                        <div class="item city-item" data-name="foshan">佛山</div><div class="item city-item" data-name="fushun">抚顺</div><div class="item city-item" data-name="fuzhou">福州</div>
                      </ul>
                </li>
                <li data-capital="G" id="G">
                      <div class="capital">G</div>
                      <ul class="items">
                        <div class="item city-item" data-name="ganzhou">赣州</div><div class="item city-item" data-name="guangan">广安</div><div class="item city-item" data-name="guangxiyulin">玉林</div><div class="item city-item" data-name="guangzhou">广州</div><div class="item city-item" data-name="guilin">桂林</div><div class="item city-item" data-name="guiyang">贵阳</div>
                      </ul>
                </li>
                <li data-capital="H" id="H">
                      <div class="capital">H</div>
                      <ul class="items">
                        <div class="item city-item" data-name="haerbin">哈尔滨</div><div class="item city-item" data-name="haikou">海口</div><div class="item city-item" data-name="handan">邯郸</div><div class="item city-item" data-name="hangzhou">杭州</div><div class="item city-item" data-name="hefei">合肥</div><div class="item city-item" data-name="hengshui">衡水</div><div class="item city-item" data-name="hengyang">衡阳</div><div class="item city-item" data-name="heyuan">河源</div><div class="item city-item" data-name="huaian">淮安</div><div class="item city-item" data-name="huanggang">黄冈</div><div class="item city-item" data-name="huhehaote">呼和浩特</div><div class="item city-item" data-name="huizhou">惠州</div><div class="item city-item" data-name="huzhou">湖州</div>
                      </ul>
                </li>
                <li data-capital="J" id="J">
                      <div class="capital">J</div>
                      <ul class="items">
                        <div class="item city-item" data-name="jiangmen">江门</div><div class="item city-item" data-name="jiangxiyichun">宜春</div><div class="item city-item" data-name="jiaxing">嘉兴</div><div class="item city-item" data-name="jilin">吉林</div><div class="item city-item" data-name="jinan">济南</div><div class="item city-item" data-name="jingzhou">荆州</div><div class="item city-item" data-name="jinhua">金华</div><div class="item city-item" data-name="jining">济宁</div><div class="item city-item" data-name="jiujiang">九江</div>
                      </ul>
                </li>
                <li data-capital="K" id="K">
                      <div class="capital">K</div>
                      <ul class="items">
                        <div class="item city-item" data-name="kunming">昆明</div><div class="item city-item" data-name="kunshan">昆山</div>
                      </ul>
                </li>
                <li data-capital="L" id="L">
                      <div class="capital">L</div>
                      <ul class="items">
                        <div class="item city-item" data-name="langfang">廊坊</div><div class="item city-item" data-name="lanzhou">兰州</div><div class="item city-item" data-name="lasvegas">拉斯维加斯</div><div class="item city-item" data-name="leshan">乐山</div><div class="item city-item" data-name="lianyuangang">连云港</div><div class="item city-item" data-name="liaocheng">聊城</div><div class="item city-item" data-name="linyi">临沂</div><div class="item city-item" data-name="lishui">丽水</div><div class="item city-item" data-name="liuzhou">柳州</div><div class="item city-item" data-name="luoyang">洛阳</div>
                      </ul>
                </li>
                <li data-capital="M" id="M">
                      <div class="capital">M</div>
                      <ul class="items">
                        <div class="item city-item" data-name="maanshan">马鞍山</div><div class="item city-item" data-name="maoming">茂名</div><div class="item city-item" data-name="mianyang">绵阳</div><div class="item city-item" data-name="moscow">莫斯科</div><div class="item city-item" data-name="mudanjiang">牡丹江</div>
                      </ul>
                </li>
                <li data-capital="N" id="N">
                      <div class="capital">N</div>
                      <ul class="items">
                        <div class="item city-item" data-name="nanchang">南昌</div><div class="item city-item" data-name="nanjing">南京</div><div class="item city-item" data-name="nanning">南宁</div><div class="item city-item" data-name="nantong">南通</div><div class="item city-item" data-name="ningbo">宁波</div>
                      </ul>
                </li>
                <li data-capital="P" id="P">
                      <div class="capital">P</div>
                      <ul class="items">
                        <div class="item city-item" data-name="pingxiang">萍乡</div>
                      </ul>
                </li>
                <li data-capital="Q" id="Q">
                      <div class="capital">Q</div>
                      <ul class="items">
                        <div class="item city-item" data-name="qianjiang">潜江</div><div class="item city-item" data-name="qingdao">青岛</div><div class="item city-item" data-name="qingyuan">清远</div><div class="item city-item" data-name="qinhuangdao">秦皇岛</div><div class="item city-item" data-name="quanzhou">泉州</div>
                      </ul>
                </li>
                <li data-capital="R" id="R">
                      <div class="capital">R</div>
                      <ul class="items">
                        <div class="item city-item" data-name="rizhao">日照</div><div class="item city-item" data-name="russia">俄罗斯</div>
                      </ul>
                </li>
                <li data-capital="S" id="S">
                      <div class="capital">S</div>
                      <ul class="items">
                        <div class="item city-item" data-name="sanya">三亚</div><div class="item city-item" data-name="shanghai">上海</div><div class="item city-item" data-name="shantou">汕头</div><div class="item city-item" data-name="shaoxing">绍兴</div><div class="item city-item" data-name="shenyang">沈阳</div><div class="item city-item" data-name="shenzhen">深圳</div><div class="item city-item" data-name="shijiazhuang">石家庄</div><div class="item city-item" data-name="singapore">新加坡</div><div class="item city-item" data-name="suining">遂宁</div><div class="item city-item" data-name="suzhou">苏州</div>
                      </ul>
                </li>
                <li data-capital="T" id="T">
                      <div class="capital">T</div>
                      <ul class="items">
                        <div class="item city-item" data-name="taian">泰安</div><div class="item city-item" data-name="taiyuan">太原</div><div class="item city-item" data-name="taizhou">泰州</div><div class="item city-item" data-name="tangshan">唐山</div><div class="item city-item" data-name="tianjin">天津</div>
                      </ul>
                </li>
                <li data-capital="W" id="W">
                      <div class="capital">W</div>
                      <ul class="items">
                        <div class="item city-item" data-name="weifang">潍坊</div><div class="item city-item" data-name="weihai">威海</div><div class="item city-item" data-name="wenzhou">温州</div><div class="item city-item" data-name="wuhan">武汉</div><div class="item city-item" data-name="wuhu">芜湖</div><div class="item city-item" data-name="wulumuqi">乌鲁木齐</div><div class="item city-item" data-name="wuxi">无锡</div><div class="item city-item" data-name="wuzhou">梧州</div>
                      </ul>
                </li>
                <li data-capital="X" id="X">
                      <div class="capital">X</div>
                      <ul class="items">
                        <div class="item city-item" data-name="xiamen">厦门</div><div class="item city-item" data-name="xian">西安</div><div class="item city-item" data-name="hongkong">香港</div><div class="item city-item" data-name="xuzhou">徐州</div>
                      </ul>
                </li>
                <li data-capital="Y" id="Y">
                      <div class="capital">Y</div>
                      <ul class="items">
                        <div class="item city-item" data-name="yancheng">盐城</div><div class="item city-item" data-name="yangzhou">扬州</div><div class="item city-item" data-name="yantai">烟台</div><div class="item city-item" data-name="yibin">宜宾</div><div class="item city-item" data-name="yichang">宜昌</div><div class="item city-item" data-name="yinchuan">银川</div><div class="item city-item" data-name="yingkou">营口</div><div class="item city-item" data-name="yiwu">义乌</div><div class="item city-item" data-name="yulin">榆林</div>
                      </ul>
                </li>
                <li data-capital="Z" id="Z">
                      <div class="capital">Z</div>
                      <ul class="items">
                        <div class="item city-item" data-name="zaozhuang">枣庄</div><div class="item city-item" data-name="zhangjiakou">张家口</div><div class="item city-item" data-name="zhangqiu">章丘</div><div class="item city-item" data-name="zhanjiang">湛江</div><div class="item city-item" data-name="zhaoqing">肇庆</div><div class="item city-item" data-name="zhejiangtaizhou">台州</div><div class="item city-item" data-name="zhengzhou">郑州</div><div class="item city-item" data-name="zhenjiang">镇江</div><div class="item city-item" data-name="zhongshan">中山</div><div class="item city-item" data-name="zhoushan">舟山</div><div class="item city-item" data-name="zhuhai">珠海</div><div class="item city-item" data-name="zhuzhou">株洲</div><div class="item city-item" data-name="zibo">淄博</div><div class="item city-item" data-name="zigong">自贡</div><div class="item city-item" data-name="zunyi">遵义</div>
                      </ul>
                    </li>
                </ul>
              </div>
            </div>
    </div>
 <!-- 票牛首页 -->
	<div style="width:1000px;margin:0 auto;display:flex;justify-content: space-around;margin-top:22px;">
	<div style="width:650px;">
	<div style="display:flex;margin-left:10px;" class="flexl" th:each="show:${showMassage}">
		<a href=""><p>票牛首页&nbsp;></p></a>&nbsp;&nbsp;
        <a href=""><p th:text="${show.getCity_name()}"></p></a>
        <a href=""><p th:text="${show.getShow_type()}">&nbsp;></p></a>&nbsp;&nbsp;>
        <a href=""><p th:text="${show.getShow_name()}">&nbsp;></p></a>&nbsp;&nbsp;>
		<a href=""><p style="color:#333;">全部评论</p></a>
	</div>
<!-- 德云社 -->
        <p style="margin-left:10px;font-size:20px;border-bottom: 1px solid #999;height:66px;margin-top:36px;" th:each="s:${showMassage}"><span th:text="${s.getShow_name()}+${s.getCity_name()}" style="font-size : 20px;">的全部评论</span></p>

<!-- 评论内容 -->
	<ul class="comment-cennter" th:each="comment:${comments}">
		<li class="comment-cennter1">
			<div class="comment-cennter1_l">
				<div class="comment-cennter1_l1">
					<img src="" alt="" style="width:100%;height: 100%">
				</div>
				<div class="comment-cennter1_l2">LV3</div>
			</div>
			<div style="border-bottom: 1px solid #999;width:550px;" >
				<div   style="margin-top:25px;text-indent:1em;font-size:14px;height:100%;overflow:hidden;height:20px;">
					<span style="float:left;font-size:14px;" th:text="${comment.getUser_username()}"></span>
					<span style="display:inline-block;color:#999;font-size:12px;float:right;margin-right:13px" th:text="${comment.getComment_creat_time()}"></span>
				</div>
				<div class="comment-cennter1_c"></div>
				<div class="comment-cennter1_ct" style="width:500px;font-size:12px;" th:text="${comment.getComment_message()}">
					
				</div>
				<div style="text-align: left;margin-top: 20px;">
				<!--<img src="../img/11-9.jpg">-->
				</div>
				<div class="comment-cennter1_r">
					<div style="width:20px;height:20px;cursor: pointer;" class="praise">
						<img th:src="@{../img/1-icon-reply.4c1a85db.png}" alt="" style="width:20px;height:20px">
					</div>
					<a href="" style="text-decoration: none;margin-left:5px;font-size:13px;color:black;"><p style="width:26px;">回复</p>
						
					</a>
					<div style="width:18px;height:18px;cursor: pointer;margin-left:20px" >
						<img th:src="@{../img/1-icon-like.479b123c.png}" alt="" style="width:18px;height:18px">
					</div>
					<a href="" style="text-decoration: none;margin-left:5px;font-size:13px;color:black">
						赞
					</a>

				</div>
			</div>
		</li>
	</ul>
	</div>
<!-- 右边 -->
	<div style="float: right;margin-top:34px;">

		<div style="width:300px;height:460px;">
            <div style="width:114px;height:36px;background: #5fb7fc;"><P style="text-align:center;line-height: 36px;color:#fff;"><a th:href="@{/comment/insertComment}">我要评论</a></P></div>
		<div style="width:288px;height:246px;border:1px solid #eaeaec;margin-top:20px;">
			<div style="width:248px;height:206px;margin:22px;" th:each="sh:${showMassage}">
                <p style="font-size:18px;" th:text="${sh.getShow_name()}+${sh.getCity_name()}+'站'"></p>
					<div style="display:flex;">
						<p style="font-size:18px;color:#ffb238;margin-top:14px;">10. <span style="font-size:16px;">0</span> </p>
						<img src="../img/11-8.jpg" style="width:97px;height:18px;margin-top:20px;margin-left:16px;">
					</div>
					<div style="width:212px;height:80px;margin-top:14px;display:flex;justify-content:space-around">
						<img src="../img/11-10.jpg">
						<div>
							<p style="font-size:12px;color:#333;">西安曲江国际会展中心B4馆 <br>2019.01.05 19:30 </p>
								<div style="display:flex;margin-top:26px;">
									<div style="width:48px;height:22px;background:#4899fe;border-radius: 5px;">
										<p style="text-align:center;line-height:22px;color:#fff;font-size:10px;">售票中</p>
									</div>
									<div style="margin-left:20px;">
										<p style="font-size:10px;">￥ <span style="font-size:18px;">388</span> <span style="font-size:12px;color:#999999;" >起</span></p>
									</div>
								</div>
						</div>
					</div>
			</div>
			

		</div>	
		<div style="width:288px;height:144px;border:1px solid #eaeaec;margin-top:20px;">
			<div style="width:200px;height:102px;margin:20px;display:flex;">
				<img src="../img/11-11.jpg">
				<div style="width:90px;height:62px;margin-left:18px;">
					<p style="font-size:18px;margin-top:25px;">票牛APP</p>
				<p style="font-size:12px;color: #999;margin-top:12px;">热门票随时抢 <br>折扣票随时买 </p>
				</div>
				
			</div>
		</div>
		</div>
		
	</div>
	</div>
<!-- 底部 -->
	<div style="width:100%;height:78px;background:#262a31;">
		<div style="">
			<p style="font-size:12px;color:#919496;text-align:center;line-height:40px;">上海颂品网络科技有限公司 Copyright (c) 2015年 Songpin. All rights reserved. | 沪ICP备14000399号-2</p>
		</div>
			<div style="display:flex;width:316px;height:22px;text-align:center;margin:0 auto;">
				<img src="../img/11-13.jpg">
				<p style="font-size:12px;color:#919496;">&nbsp;&nbsp;沪公网安备 31010602001682号</p>&nbsp;&nbsp;
				<img src="../img/11-12.jpg">
				<p style="font-size:12px;color:#919496;">&nbsp;&nbsp;上海工商</p>
			</div>
		
		
		
	</div>
	<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../js/pypl2.js"></script>
	<script type="text/javascript" src="../js/city.js"></script>
</body>
</html>