<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piaoniu.demo.dao.CommentDao">
    <!--根据演出id或评论id获取所有评论-->
    <select id="findComment"  resultType="com.piaoniu.demo.model.CommentModel" parameterType="com.piaoniu.demo.pojo.Comment">
        SELECT
        a.comment_id,a.show_id,
        a.comment_message,
        a.love,
        a.comment_creat_time,
        a.comment_grade,
        a.comment_picture,
        b.user_head_photo,
        b.user_username,
        c.show_comment_grade,
        c.show_comment_num
        FROM pn_comment a,pn_user b,pn_show c WHERE a.user_id=b.user_id
        and a.show_id=c.show_id
        <if test= "comment_id!=0"> and a.comment_id= ${comment_id}</if>
        <if test= "show_id!=0"> and a.show_id= ${show_id}</if>
    </select>
    <!--根据评论副id获取所有评论回复-->
    <select id="findCommentByChildId"  resultType="com.piaoniu.demo.model.CommentModel">
        SELECT
        pn_user.user_head_photo,
        pn_user.user_username,
        pn_comment_child.comment_message,
        pn_comment_child.comment_creat_time
        FROM pn_comment_child
        INNER JOIN pn_comment ON pn_comment.comment_id=pn_comment_child.comment_parent_id
        INNER JOIN pn_user ON pn_comment_child.user_id=pn_user.user_id
        INNER JOIN pn_show ON pn_comment_child.show_id=pn_show.show_id
        WHERE pn_comment_child.comment_parent_id=#{pn_comment_child.comment_parent_id}
    </select>
    <select id="findShowById"  resultType="com.piaoniu.demo.pojo.Show">
        SELECT c.show_comment_grade,c.show_comment_num
        FROM pn_show c WHERE
         c.show_id= 1
    </select>
    <!--修改演出评分和评分总人数-->
    <update id="updateShowGrade" parameterType="com.piaoniu.demo.pojo.Show">
        update  pn_show set show_comment_grade=#{show_comment_grade},show_comment_num=#{show_comment_num}
        where show_id=#{show_id}
    </update>
    <!--添加评论-->
    <insert id="insertComment" parameterType="com.piaoniu.demo.pojo.Comment">
        insert into pn_comment (love,comment_grade,comment_message,show_id,user_id,comment_creat_time,comment_picture)
         value (#{love},#{comment_grade},#{comment_message},#{show_id},#{user_id},#{comment_creat_time},#{comment_picture});
    </insert>
    <insert id="insertCommentChild" parameterType="com.piaoniu.demo.pojo.CommentChild">
        insert into pn_comment_child (comment_message,show_id,user_id,comment_creat_time,comment_parent_id)
         value (#{comment_message},#{show_id},#{user_id},#{comment_creat_time},#{comment_parent_id});
    </insert>
</mapper>