<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piaoniu.demo.dao.IndexDao">
    <select id="findShowtype" resultType="com.piaoniu.demo.pojo.ShowType">
        select show_type from pn_show_type;
    </select>
    <select id="findShowByAll" resultType="com.piaoniu.demo.model.IndexModel" parameterType="com.piaoniu.demo.pojo.Show">
        select a.show_id,a.show_name,a.show_begin_time,a.show_end_time,a.show_picture,b.show_place,a.show_comment_grade,a.show_money,d.city_name from pn_show a,pn_city d,pn_show_place b where a.show_place_id=b.show_place_id and a.show_status_id=1 and a.city_id=d.city_id
            <if test= "city_id!=0"> and a.city_id= ${city_id}</if>
            <if test= "show_type_id!=0"> and a.show_type_id = ${show_type_id}</if>
            <if test= "show_times==1"> and YEARWEEK(date_format(a.show_begin_time,'%Y-%m-%d')) = YEARWEEK(now())</if>
            <if test= "show_times==2"> and date_format(show_begin_time,'%Y-%m')=date_format(now(),'%Y-%m')</if>
            <if test= "show_begin_time!=null">and a.show_begin_time = ${show_begin_time}</if>
            <if test= "show_sort==1">order by a.show_begin_time desc </if>
            <if test= "show_sort==2">order by a.show_money desc </if>
            <if test= "show_sort==3">order by a.show_comment_grade desc </if>
    </select>


    <select id="findByCityAndHot" resultType="com.piaoniu.demo.model.IndexModel" parameterType="com.piaoniu.demo.pojo.Show">
        select a.show_id,a.show_attention,a.show_money,a.show_picture,b.city_name from pn_show a,pn_city b where a.city_id=b.city_id and a.city_id=${city_id} order by a.show_attention desc limit 6;
    </select>
    <select id="findByCityAndGrade" resultType="com.piaoniu.demo.model.IndexModel" parameterType="com.piaoniu.demo.pojo.Show">
        select a.show_id,a.show_discount,a.show_money,a.show_picture,b.city_name from pn_show a,pn_city b where a.city_id=b.city_id and a.city_id=${city_id} and a.show_discount>0 order by a.show_discount asc limit 6;
    </select>
    <select id="findHotCity" resultType="com.piaoniu.demo.pojo.City">
        select * from pn_city limit 1,5;
    </select>
    <select id="findCity" resultType="com.piaoniu.demo.pojo.City">
        select * from pn_city;
    </select>
    <select id="findPhoto" resultType="com.piaoniu.demo.pojo.Photo">
        select * from pn_photo;
    </select>
    <select id="findShowBySome" resultType="com.piaoniu.demo.model.IndexModel" parameterType="String">
        select a.show_id,a.show_discount,a.show_money,a.show_picture,b.city_name from pn_show a,pn_city b,pn_show_place c where a.city_id=b.city_id and a.show_place_id=c.show_place_id and c.show_place like CONCAT('%',#{message},'%' ) or a.show_people like CONCAT('%',#{message},'%' ) or a.show_name like CONCAT('%',#{message},'%' ) group by a.show_id;
    </select>
    <select id="findCityName" resultType="com.piaoniu.demo.pojo.City">
        select * from pn_city where city_id=#{city_id};
    </select>
</mapper>