<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piaoniu.demo.dao.User_CouponDao">
    <!--当用户刚注册成功后添加每个类型的优惠券各一张-->
    <insert id="shengchengyouhuiquan" parameterType="com.piaoniu.demo.pojo.Discount">
      INSERT INTO pn_discount
      (discount_money,discount_begin,discount_end,show_type_id,user_id,discount_name)
      VALUES (#{discount_money},#{discount_begin},#{discount_end},#{show_type_id},#{user_id},#{discount_name})
    </insert>

    <!--查询某用户的优惠券状态为可使用-->
    <select id="userDiscountList" resultType="com.piaoniu.demo.model.User_CouponModel">
        SELECT pn_discount.*,pn_show_type.show_type
        FROM pn_discount,pn_show_type
        WHERE pn_discount.show_type_id=pn_show_type.show_type_id and pn_discount.user_id=#{user_id}
        and pn_discount.discount_status_id=#{discount_status_id}
    </select>

    <!--通过用户id和优惠券id修改优惠券的状态-->
    <update id="xiugaizhuangtai" parameterType="com.piaoniu.demo.pojo.Discount">
        UPDATE pn_discount SET discount_status_id=2 WHERE discount_id=#{discount_id} AND user_id=#{user_id}
    </update>

    <!--查询优惠券状态为1的-->
    <select id="youhuiquanwei1" resultType="com.piaoniu.demo.pojo.Discount">
        select * from pn_discount where discount_status_id=1
    </select>

    <!--使用优惠券后修改状态-->
    <update id="xiugaizhuangtai2" parameterType="com.piaoniu.demo.pojo.Discount">
        UPDATE pn_discount SET discount_status_id=3 WHERE discount_id=#{discount_id} AND user_id=#{user_id}
    </update>

    <!--下订单时查询对应优惠券（根据用户id和演出类型id查询优惠券，要与下订单时某类型的演出对应某类型的优惠券)-->
    <select id="duiyingDiscount" resultType="com.piaoniu.demo.pojo.Discount">
        SELECT pn_discount.*,pn_show_type.show_type
        FROM pn_discount,pn_show_type
        WHERE pn_discount.show_type_id=pn_show_type.show_type_id AND pn_discount.user_id=1 AND pn_discount.show_type_id=1
    </select>
</mapper>